<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MindMup: Zero-Friction Free Online Mind Mapping</title>
    <meta name="keywords" content="mind mapping, mind map, mindmap, mindmapping, free online mindmapping, free online mind mapping, mindmup" />
    <meta name="description" content="Zero-friction, free online mind mapping. Opensource mindmapping software. The most productive online mind map canvas on the Web. Supports Freemind mindmap import/export." />
    <link rel="shortcut icon" href="<%=settings.static_image_host%>/favicon.ico" >
    <link href="<%=settings.public_url%>/mapjs.css" rel="stylesheet" />
    <link href="https://plus.google.com/u/0/communities/112831595986131146219" rel="publisher" />
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <link href="http://blog.mindmup.com/feeds/posts/default" rel="alternate" type="application/rss+xml" title="RSS" />
    <style>
      html, body {
        height: 100%;
        overflow:hidden;
        margin:0;
        padding:0;
      }
      #container {
				background-color: #FFFFFF;
				height: 100%;
				width: 100%;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        margin:0;
        padding:0;
			}

      #attachment {
        width:100%;
        min-height: 100%;
        overflow: auto;
      }
	  #rightmenu {
		  position: fixed;
		  top: 10px;
		  right: 1px;
		  background-color: rgba(200,200,200,0.5);
		  border: 1px solid #0088cc;
		  border-radius: 5px;
		  padding: 4px 4px 4px 4px;
		  width: 32px;

	  }
	  .button {
		  background: url('<%=settings.static_image_host%>/embed_buttons.png');
		  background-repeat:no-repeat;
		  width: 32px !important;
		  height: 32px !important;
		  display: block;
		  margin-bottom: 3px;
	  }
	  .close {
		background-position: 0 0;
	  }
	  .scaleUp {
		background-position: -32px 0px;
	  }
	  .scaleDown {
		background-position: -64px 0px;
	  }
	  .resetView {
		background-position: -96px 0px;
	  }
	  .mindmup {
		background-position: -128px 0px;
	  }

    .msg {
      display:none;
      font-family: sans-serif;

      text-align: center;
      margin: 10px 10px 10px 10px;
    }
    .error h1 {
      font-size: 20px;
      color: red;
    }
    </style>
	<%= erb :timetrack %>
  </head>
  <body>
    <div id="container" class="map" data-mm-context="embedded"></div>
    <div id="error" class="msg error"><h1>Unfortunately, we could not load this map</h1>
      <p>The original file may no longer be available or the license may have expired.
      Please contact us at <a href="mailto:contact@mindmup.com">contact@mindmup.com</a> quoting reference: </p>
      <input id="error-mapid" style="width:80%" readonly/>

    </div>
    <div id="loading" class="msg">Please wait, loading your map...</div>
	<div id="rightmenu" style="display:none">
		<a href="<%=settings.base_url%>map/<%=@mapid%>" target="_blank" class="button mindmup" title="View/Edit on MindMup"></a>
		<a href="#" title="Back to map (Esc)" class="button close attachment" style="display:none"></a>
		<a href="#" title="Zoom in (z)" class="button scaleUp map"></a>
		<a href="#" title="Zoom out (Shift+z)" class="button scaleDown map"></a>
		<a href="#" title="Re-center view (Esc)" class="button resetView map"></a>
	</div>
    <div id="attachment" class="attachment">
    </div>
  <%= erb :embedded_scripts %>
  <script id="main">
    var _gaq = _gaq || [],
      initMM = function () {
      var mapId = decodeURI(document.location.pathname.replace(/^\/embedded\//,'')),
              isTouch = jQuery('body').hasClass('ios') || jQuery('body').hasClass('android'),
              activityLog = console,
              s3FileSystem = new MM.S3FileSystem(new MM.EmbeddedMapUrlGenerator({'a': {prefix: 'https://<%= settings.s3_website %>/<%= settings.s3_upload_folder %>/'  , postfix: '.json'}, 'b': {prefix: 'https://<%= ENV['GOLD_BUCKET_NAME'] %>.s3.amazonaws.com/', remove: 2}}), 'a', 'S3_CORS'),
              mapLoader = new MM.RetriableMapSourceDecorator(new MM.FileSystemMapSource(s3FileSystem)),
			  mapModel = new MAPJS.MapModel(MAPJS.DOMRender.layoutCalculator, []),
			  fakeMapController = observable({}),
			  activeContentListener = new MM.ActiveContentListener(fakeMapController),
			  activeContentResourceManager = new MM.ActiveContentResourceManager(activeContentListener, 'internal');
		    jQuery('#container').domMapWidget(activityLog, mapModel, isTouch, observable({}), jQuery('#container'), activeContentResourceManager.getResource);
            jQuery('.close.attachment').click(function () {
              jQuery('.attachment').hide();
              jQuery('.map').show();
            });
  		  jQuery('a.mindmup').click(function () {
              _gaq.push(['_trackEvent','Embedded Map', 'Go to MindMup', mapId]);
  		  });
            jQuery(document).keydown('Esc backspace', function (){
              jQuery('.attachment').hide();
              jQuery('.map').show();
            });
  		  jQuery('.attachment').hide();
            mapModel.setEditingEnabled(false);

            mapModel.addEventListener('attachmentOpened', function (nodeId, attachment) {
              $('#attachment').html(attachment.content);
              jQuery('.map').hide();
              jQuery('.attachment').show();
            });
            _gaq.push(['_trackEvent','Embedded Map', 'View', mapId]);
        jQuery('#rightmenu').hide();
        jQuery('#container').hide();
        jQuery('#loading').show();
        MAPJS.DOMRender.stageMargin = {top: 50, left: 50, bottom: 50, right: 50};
  		  window.mmtimestamp.log('embedded ui loaded');
        mapLoader.loadMap(mapId).then(function (idea) {
		  if (idea.getAttr('customCSS')) {
			jQuery('<style id="customStyleCSS" type="text/css"></style>').text(idea.getAttr('customCSS')).appendTo('body');
		  }
          jQuery('#loading').hide();
          jQuery('#container').show();
          var topPosition = Math.max(0, ($('#container').outerHeight() - 150)/2);
          jQuery('#rightmenu').css('top', topPosition).show().mapToolbarWidget(mapModel);
		  fakeMapController.dispatchEvent('mapLoaded', mapId, idea);
          mapModel.setIdea(idea);
          _gaq.push(['_trackEvent','Embedded Map', 'Loaded', mapId]);
        }, function (reason) {
          jQuery('#loading').hide();
          jQuery('#error').show();
          jQuery('#error-mapid').val(mapId);
          _gaq.push(['_trackEvent','Embedded Map', 'Error - Load', reason]);
        });
      },
      scriptError = function (err) {
        console.dir(err.stack);
        var d=document.createElement("div"),
            c=document.createElement('div'),
            tryToNotifyGoogleAnalytics=function(){
              _gaq.push(['_trackEvent','Embedded Map','Error - Script Load', err && err.message]);
            };

        d.appendChild(document.createTextNode("Unfortunately, there was an error while loading the JavaScript files required by this page."+
          " This might be due to a temporary network issue or a firewall blocking access to required scripts. "+
          " Please try again later. " +
          " If the problem persists, we'd appreciate if you could contact us at contact@mindmup.com"));
        d.style.position='absolute'; d.style.top='30%'; d.style.left='40%'; d.style.width='20%'; d.style.backgroundColor='#773333'; d.style.color='white'; d.style.fontWeight='bold'; d.style.padding='20px'; d.style.border='3px solid black';
        c.style.position='absolute'; c.style.top=0; c.style.left=0; c.style.width='100%'; c.style.height='100%'; c.style.minHeight='100%'; c.style.backgroundColor='#999999';
        c.appendChild(d);
        document.getElementsByTagName("body")[0].appendChild(c);
        tryToNotifyGoogleAnalytics();
      };

    _gaq.push(['_setAccount', '<%= settings.google_analytics_account %>']);

    window.mmtimestamp.log('script init');
    window.onload = function () {
	  window.mmtimestamp.log('remote scripts loaded');
	  try{
	    initMM();
	  } catch (e){
		console.log(e);
		scriptError(e);
	  };
	};
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  </body>
</html>
