<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MindMup: Zero-Friction Free Online Mind Mapping</title>
    <meta name="keywords" content="mind mapping, mind map, mindmap, mindmapping, free online mindmapping, free online mind mapping, mindmup" />
    <meta name="description" content="Zero-friction, free online mind mapping. Opensource mindmapping software. The most productive online mind map canvas on the Web. Supports Freemind mindmap import/export." />
    <link rel="shortcut icon" href="//<%=settings.s3_website%>/lib/img/favicon.ico" >
    <link href="https://plus.google.com/u/0/communities/112831595986131146219" rel="publisher" />
    <link href="http://blog.mindmup.com/feeds/posts/default" rel="alternate" type="application/rss+xml" title="RSS" />
    <style>
      html, body {
        height: 100%;
        overflow: hidden;
      }
      #container, #attachment, #attachment .content {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        width:100%;
        min-height: 100%;
      }
      #attachment .content {
        overflow: scroll;
      }
      #attachment .header {
        width: 100%; height: 20; background-color: lightgrey;
      }
      #attachment {
        display:none;
      }
    </style>
  </head>
  <body>
    <div id="container"></div>
    <div id="attachment">
      <div class="header">
        <button>&lt; Back</button>
      </div>
      <div class="content"></div>
    </div>
  <%= erb :embedded_scripts %>
  <script id="main">

    var MM = MM || {},
        _gaq = _gaq || [];
    _gaq.push(['_setAccount', '<%= settings.google_analytics_account %>']);

    loadScripts(
      function() {
        var config = {
              s3Url: 'http://<%= settings.s3_website %>/',
              s3Folder: '<%= settings.s3_upload_folder %>/',
              publishingConfigUrl: '',
              baseUrl: '<%= settings.base_url%>',
              proxyLoadUrl: '<%= settings.proxy_load_url %>',
              renderImages: false,
              mapId:'<%=@mapid%>'
            },
            activityLog = console,
            s3Adapter = new MM.S3Adapter(config.s3Url, config.s3Folder, activityLog, config.publishingConfigUrl, config.baseUrl + config.proxyLoadUrl),
            mapLoader = new MM.RetriableMapSourceDecorator(new MM.FileSystemMapSource(s3Adapter)),
            mapModel = new MAPJS.MapModel(MAPJS.KineticMediator.layoutCalculator, [''], ['']);          
          jQuery('#container').mapWidget(activityLog, mapModel, config.isTouch, config.renderImages);

          jQuery('#attachment button').click(function () {
            jQuery('#attachment').hide();
            jQuery('#container').show();
          });
          jQuery(document).keydown('Esc backspace', function (){            
            jQuery('#attachment').hide();
            jQuery('#container').show();
          });

          mapModel.setEditingEnabled(false);
          mapModel.addEventListener('attachmentOpened', function (nodeId, attachment) {
            $('#attachment .content').html(attachment.content);
            jQuery('#container').hide();
            jQuery('#attachment').show();
          });
          _gaq.push(['_trackEvent','Embedded Map', 'View', config.mapId]);
          mapLoader.loadMap(config.mapId).then(function (idea) {
            mapModel.setIdea(idea);
            _gaq.push(['_trackEvent','Embedded Map', 'Loaded', config.mapId]);
          }, function (reason) {
            _gaq.push(['_trackEvent','Embedded Map', 'Error - Load', reason]);
          });
      },
      function (err) {
        var d=document.createElement("div"),
            c=document.createElement('div'),
            tryToNotifyGoogleAnalytics=function(){
              _gaq.push(['_trackEvent','Embedded Map','Error - Script Load', err && err.message]);
            };

        d.appendChild(document.createTextNode("Unfortunately, there was an error while loading the JavaScript files required by this page."+
          " This might be due to a temporary network issue or a firewall blocking access to required scripts. "+
          " Please try again later. " +
          " If the problem persists, we'd appreciate if you could contact us at contact@mindmup.com"));
        d.style.position='absolute'; d.style.top='30%'; d.style.left='40%'; d.style.width='20%'; d.style.backgroundColor='#773333'; d.style.color='white'; d.style.fontWeight='bold'; d.style.padding='20px'; d.style.border='3px solid black';
        c.style.position='absolute'; c.style.top=0; c.style.left=0; c.style.width='100%'; c.style.height='100%'; c.style.minHeight='100%'; c.style.backgroundColor='#999999';
        c.appendChild(d);
        document.getElementsByTagName("body")[0].appendChild(c);
        tryToNotifyGoogleAnalytics();
      }
    );
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  </body>
</html>
