<?xml version="1.0" encoding="UTF-8" ?>
<Module>
	<ModulePrefs title="Hangout Starter">
		<Require feature="rpc" />
		<Require feature="views" />
		<Require feature="locked-domain" />
	</ModulePrefs>
	<Content type="html"><![CDATA[     
<html>
<style type="text/css">
      #container {
				background-color: #FFFFFF;
				height: 100%;
				width: 100%;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        margin:0;
        padding:0;
      }
      #uploadImg {
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 100;
      }
</style>
<body>
<script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>
<script src="<%=settings.static_host%>/embedded_external.js"></script>
<script src="<%=settings.public_url%>/mm-compiled.min.js" ></script>
<script src="<%=settings.base_url%>e/hangouts-collaboration.js" ></script>
<link href="<%=settings.public_url%>/mapjs.css" rel="stylesheet" />
<div id="container">
  Please wait, loading MindMup...
</div>
<button id="uploadImg">Image</button>
<script>
function init() {
  gapi.hangout.onApiReady.add(
    function(eventObj) {
      if (eventObj.isApiReady) {
        MM.Hangouts.initMindMup({
          googleAnalyticsAccount: '<%= settings.google_analytics_account %>',
          clientId: '<%= ENV['HANGOUT_CLIENT_ID'] %>',
          appId: '<%= ENV['HANGOUT_APP_ID'] %>',
          pickerOrigin: '<%= ENV['HANGOUT_PICKER_ORIGIN'] %>'
        });
      }
    });
}

// Wait for gadget to load.                                                       
gadgets.util.registerOnLoadHandler(init);
</script>
</body>
]]>
</Content>
</Module>
