<% if production?%><?xml version="1.0" encoding="UTF-8" ?>
<Module>
	<ModulePrefs title="MindMup">
		<Require feature="rpc" />
		<Require feature="views" />
		<Require feature="locked-domain" />
	</ModulePrefs>
  <Content type="html"><![CDATA[     
<% end %>
<html>
<body>
<link href="<%=settings.static_host%>/external.css" rel="stylesheet" />
<%if production? %>
<script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>
<link href="<%=settings.public_url%>/hangouts.css" rel="stylesheet" />
<script src="<%=settings.static_host%>/external.js" ></script>
<script src="<%=settings.public_url%>/mm-hangouts.min.js" ></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '<%= settings.google_analytics_account %>', 'auto');
  ga('send', 'pageview', '/google_hangouts');
</script>
<% else %>
<%= erb :scripts %>
<script src="e/local_hangouts_mock_api.js"></script>
<%=erb :css%>
<script src="<%=settings.public_url%>/e/hangouts-collaboration.js" ></script>
<link href="<%=settings.public_url%>/e/hangouts-collaboration.css" rel="stylesheet" />
<% end %>

<div id="container">
  Please wait, loading MindMup... if this message does not disappear in a few seconds, please contact us at contact@mindmup.com
</div>
<%=erb :collaborator_speech_bubble %>
<%= erb :icon_editor %>
<%= erb :link_edit_widget %>
<%= erb :'hangouts/flexi_toolbar' %>
<%= erb :'hangouts/context_menu' %>
<%= erb :'hangouts/send_to_drive' %>
<%= erb :'hangouts/modal_color_selector' %>
<%= erb :'hangouts/popover_link_editor' %>
<%= erb :'hangouts/attachment_editor' %>
<%= erb :modal_confirm %>
<script>
function init() {
  gapi.hangout.onApiReady.add(
    function(eventObj) {
      if (eventObj.isApiReady) {
        MM.Hangouts.initMindMup({
          googleAnalyticsAccount: '<%= settings.google_analytics_account %>',
          clientId: '<%= ENV['HANGOUT_CLIENT_ID'] %>',
          appId: '<%= ENV['HANGOUT_APP_ID'] %>',
          pickerOrigin: '<%= ENV['HANGOUT_PICKER_ORIGIN'] %>',
          networkTimeoutMillis: <%= settings.network_timeout_millis %>
        });
      }
    });
}
// Wait for gadget to load.                                                       
gadgets.util.registerOnLoadHandler(init);
</script>

</body>
</html>

<% if production? %>
]]>
</Content>
</Module>
<% end %>
