<% if production?%><?xml version="1.0" encoding="UTF-8" ?>
<Module>
	<ModulePrefs title="MindMup">
		<Require feature="rpc" />
		<Require feature="views" />
		<Require feature="locked-domain" />
	</ModulePrefs>
  <Content type="html"><![CDATA[     
<% end %>
<html>
<body>

<%= erb :scripts %>
<%if production? %>
<script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>
<% else %>
<script src="e/local_hangouts_mock_api.js"></script>
<% end %>

<link href="<%=settings.static_host%>/external.css" rel="stylesheet" />
<%=erb :css%>
<script src="<%=settings.base_url%>e/hangouts-collaboration.js" ></script>
<link href="<%=settings.base_url%>e/hangouts-collaboration.css" rel="stylesheet" />


<div id="container">
  Please wait, loading MindMup... if this message does not disappear in a few seconds, please contact us at contact@mindmup.com
</div>
<button id="uploadImg">Image</button>
<%=erb :collaborator_speech_bubble %>
<%= erb :icon_editor %>
<%= erb :link_edit_widget %>
<%= erb :flexi_toolbar %>
<script>
function init() {
  gapi.hangout.onApiReady.add(
    function(eventObj) {
      if (eventObj.isApiReady) {
        MM.Hangouts.initMindMup({
          googleAnalyticsAccount: '<%= settings.google_analytics_account %>',
          clientId: '<%= ENV['HANGOUT_CLIENT_ID'] %>',
          appId: '<%= ENV['HANGOUT_APP_ID'] %>',
          pickerOrigin: '<%= ENV['HANGOUT_PICKER_ORIGIN'] %>'
        });
      }
    });
}
// Wait for gadget to load.                                                       
gadgets.util.registerOnLoadHandler(init);
</script>

</body>
</html>

<% if production? %>
]]>
</Content>
</Module>
<% end %>
