<html>
    <head>
        <meta name="viewport" content="user-scalable=no, minimum-scale=1, maximum-scale=1, width=768, height=984">
        <%= erb :css %>
    </head>
    <body class="ios-wkwebview">
        <div data-mm-role="ios-menu" data-mm-default-menu="main">
            <div class="ios-menu-toggle-container">
                <div class="ios-corner-icon-container">
                     <div data-mm-role="ios-menu-toggle" class="ios-menu-toggle">
                         <img class="ios-toolbar-icon" src="<%=settings.static_image_host%>/Mindwap.logo.squ.svg"/>
                        <div data-mm-role="ios-menu-title" class="ios-icon-label">Show Menu</div>
                     </div>
                 </div>
            </div>
            <div data-mm-role="ios-toolbar" class="ios-toolbar" style="display:none;" >
                <a href="#" class="ios-toolbar-item" data-mm-menu="main" data-mm-menu-role="showMenu" data-mm-action="node-maintenance" >
                    <img class="ios-toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_edit.svg">
                    <div class="ios-icon-label">Edit Map</div>
                </a>
                <a href="#" class="ios-toolbar-item" data-mm-menu="main" data-mm-menu-role="modelAction" data-mm-action="undo" >
                    <img class="ios-toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_undo.svg">
                    <div class="ios-icon-label">Undo</div>
                </a>
                <a href="#" class="ios-toolbar-item" data-mm-menu="main" data-mm-menu-role="modelAction" data-mm-action="redo" >
                    <img class="ios-toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_redo.svg">
                    <div class="ios-icon-label">Redo</div>
                </a>
                <a href="#" class="ios-toolbar-item" data-mm-menu="main" data-mm-menu-role="showMenu" data-mm-action="clipboardMenu" >
                    <img class="ios-toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_clipboard.svg">
                    <div class="ios-icon-label">Clipboard</div>
                </a>
                <a href="#" class="ios-toolbar-item" data-mm-menu="clipboardMenu" data-mm-menu-role="modelAction" data-mm-action="copy" >
                    <img class="ios-toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_clipboard.svg">
                    <div class="ios-icon-label">Copy</div>
                </a>
                <a href="#" class="ios-toolbar-item" data-mm-menu="clipboardMenu" data-mm-menu-role="modelAction" data-mm-action="cut" >
                    <img class="ios-toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_clipboard_cut.svg">
                    <div class="ios-icon-label">Cut</div>
                </a>

                <a href="#" class="ios-toolbar-item" data-mm-menu="clipboardMenu" data-mm-menu-role="modelAction" data-mm-action="paste" >
                    <img class="ios-toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_clipboard_paste.svg">
                    <div class="ios-icon-label">Paste</div>
                </a>

                <a href="#"  class="ios-toolbar-item" data-mm-menu="node-maintenance" data-mm-menu-role="modelAction" data-mm-action="addSubIdea">
                    <img class="ios-toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_add_child.svg">
                    <div class="ios-icon-label">Add child</div>
                </a>
                <a href="#"  class="ios-toolbar-item" data-mm-menu="node-maintenance" data-mm-menu-role="modelAction" data-mm-action="addSiblingIdea">
                    <img class="ios-toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_add_sibling.svg">
                    <div class="ios-icon-label">Add sibling</div>
                </a>
                <a href="#" class="ios-toolbar-item" data-mm-menu="node-maintenance" data-mm-menu-role="modelAction" data-mm-action="insertIntermediate">
                    <img class="ios-toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_add_parent.svg">
                    <div class="ios-icon-label">Add parent</div>
                </a>
                <a href="#" class="ios-toolbar-item" data-mm-menu="node-maintenance" data-mm-menu-role="modelAction" data-mm-action="removeSubIdea">
                    <img class="ios-toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_remove_node.svg">
                    <div class="ios-icon-label">Remove</div>
                </a>
            </div>
        </div>
        <div id="splittable" >
            <div class="splittable-primary" id="container" data-mm-role="default"></div>
            <div class="splittable-optional" id="optionalPane" data-mm-role="optional"></div>
        </div>
        <%= erb :scripts_ios %>
        <script id="main">
            window.onload = function () {
                MM.main();
            };
        </script>
    </body>
</html>