<div style="display:none">
      <div id="context-toolbar" data-mm-role="context-toolbar" class="popover-toolbar">
        <a href="#" class="toolbar-item"  data-mm-show-menu="addNodes" >
            <img class="toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_add_node.svg">
            <div class="toolbar-label">Add Node</div>
        </a>
        <a href="#"  class="toolbar-item" data-mm-menu="addNodes"  data-mm-map-model="addSubIdea">
            <img class="toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_add_child.svg">
            <div class="toolbar-label">Add child</div>
        </a>
        <a href="#"  class="toolbar-item" data-mm-menu="addNodes"  data-mm-requirement="notRoot" data-mm-map-model="addSiblingIdea">
            <img class="toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_add_sibling.svg">
            <div class="toolbar-label">Add sibling</div>
        </a>
        <a href="#" class="toolbar-item" data-mm-menu="addNodes"  data-mm-requirement="notRoot" data-mm-map-model="insertIntermediate">
            <img class="toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_add_parent.svg">
            <div class="toolbar-label">Add parent</div>
        </a>
        
        <a href="#" class="toolbar-item"  data-mm-show-menu="selectNodes" >
            <img class="toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_select_nodes.svg">
            <div class="toolbar-label">Select Nodes</div>
        </a>

        <a href="#" class="toolbar-item" data-mm-menu="selectNodes" data-mm-requirement="hasChildren" data-mm-map-model="activateNodeAndChildren">
            <img class="toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_select_branch.svg">
            <div class="toolbar-label">Select Subtree</div>
        </a>
        <a href="#" class="toolbar-item" data-mm-menu="selectNodes" data-mm-requirement="hasChildren" data-mm-map-model="activateChildren">
            <img class="toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_select_children.svg">
            <div class="toolbar-label">Select Children</div>
        </a>
        <a href="#" class="toolbar-item" data-mm-menu="selectNodes" data-mm-requirement="hasSiblings" data-mm-map-model="activateSiblingNodes">
            <img class="toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_select_siblings.svg">
            <div class="toolbar-label">Select Siblings</div>
        </a>

        <a href="#" class="toolbar-item"  data-mm-show-menu="clipboardMenu" >
            <img class="toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_clipboard.svg">
            <div class="toolbar-label">Clipboard</div>
        </a>

        <a href="#" class="toolbar-item" data-mm-menu="clipboardMenu"  data-mm-map-model="copy" >
            <img class="toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_clipboard.svg">
            <div class="toolbar-label">Copy Subtree</div>
        </a>
        <a href="#" class="toolbar-item" data-mm-menu="clipboardMenu"  data-mm-map-model="cut" >
            <img class="toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_clipboard_cut.svg">
            <div class="toolbar-label">Cut Subtree</div>
        </a>

        <a href="#" class="toolbar-item" data-mm-menu="clipboardMenu" data-mm-requirement="canPaste" data-mm-map-model="paste" >
            <img class="toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_clipboard_paste.svg">
            <div class="toolbar-label">Paste</div>
        </a>
        <a href="#" class="toolbar-item" data-mm-role="node-color-picker"
            <img class="toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_node_color.svg">
            <div class="toolbar-label">Node Color</div>
        </a>
        <a href="#" class="toolbar-item" data-mm-map-model="editIcon">
            <img class="toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_node_image.svg">
            <div class="toolbar-label">Node Picture</div>
          </a>
        <a href="#" class="toolbar-item" data-mm-map-model="openAttachment" >
          <div class="toolbar-icon tool-attachment"></div>
            <div class="toolbar-label">Node Attachment</div>
        </a>
          
        <a href="#" class="toolbar-item" data-mm-map-model="toggleAddLinkMode">
            <img class="toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_connect.svg">
            <div class="toolbar-label">Toggle Link</div>
        </a>
        <a href="#" class="toolbar-item" data-mm-requirement="hasChildren" data-mm-map-model="toggleCollapse">
            <img class="toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_collapse.svg">
            <div class="toolbar-label">Toggle Collapse</div>
        </a>
        <a href="#" class="toolbar-item" data-mm-requirement="notRoot" data-mm-map-model="removeSubIdea">
            <img class="toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_remove_node.svg">
            <div class="toolbar-label">Remove</div>
        </a>

        <a href="#" class="toolbar-item"   data-mm-requirement="canRedo" data-mm-map-model="redo" >
            <img class="toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_redo.svg">
            <div class="toolbar-label">Redo</div>
        </a>
    </div>
</div>


