<div class="hide" id="popoverLinkEditor">
    <span data-mm-role="marker" id="link-selection-marker" class="hide" />
    <div data-mm-role="toolbar" class="popover-toolbar link-popover">
      <a href="#" class="toolbar-item" data-mm-role="link-color">
          <img class="toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_node_color.svg">
          <div class="toolbar-label">Link Color</div>
      </a>

      <a href="#" class="toolbar-item" data-mm-role="link-arrow">
          <img class="toolbar-icon" src="<%=settings.static_image_host%>/ios_link_arrow.svg">
          <div class="toolbar-label">Add Arrow</div>
      </a>

      <a href="#" class="toolbar-item" data-mm-role="link-no-arrow">
          <img class="toolbar-icon" src="<%=settings.static_image_host%>/ios_link_no_arrow.svg">
          <div class="toolbar-label">Remove Arrow</div>
      </a>

      <a href="#" class="toolbar-item" data-mm-role="link-solid">
          <img class="toolbar-icon" src="<%=settings.static_image_host%>/ios_link_solid.svg">
          <div class="toolbar-label">Solid Line</div>
      </a>

      <a href="#" class="toolbar-item" data-mm-role="link-dashed">
          <img class="toolbar-icon" src="<%=settings.static_image_host%>/ios_link_dashed.svg">
          <div class="toolbar-label">Dashed Line</div>
      </a>

      <a href="#" class="toolbar-item" data-mm-role="link-removal">
          <img class="toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_remove.svg">
          <div class="toolbar-label">Remove</div>
      </a>
    </div>
</div>
