<div data-mm-role="ios-link-editor" class="iosContextMenu" style="display:none" data-mm-default-menu="main">
    <div data-mm-role="popover-toolbar" class="iosPopupToolbar">
        <img src="<%=settings.static_image_host%>/ios_toolbar_pointer.svg" data-mm-role="popover-pointer-top" class="iosPopupToolbarPointerTop" />
        <div data-mm-role="data-mm-menu" class="iosPopupToolContainer ios-default-text">
            <a href="#" class="ios-toolbar-item" data-mm-role="link-color popover-close" data-mm-menu="main" data-mm-menu-role="showModal" data-mm-widget-role="ios-link-color-picker">
                <img class="ios-toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_node_color.svg">
                <div class="ios-icon-label">Link Color</div>
            </a>

            <a href="#" class="ios-toolbar-item" data-mm-role="link-arrow popover-close" data-mm-menu="main" data-mm-menu-role="modelAction" data-mm-action="updateLinkStyle">
                <img class="ios-toolbar-icon" src="<%=settings.static_image_host%>/ios_link_arrow.svg">
                <div class="ios-icon-label">Add Arrow</div>
            </a>

            <a href="#" class="ios-toolbar-item" data-mm-role="link-no-arrow popover-close" data-mm-menu="main" data-mm-menu-role="modelAction" data-mm-action="updateLinkStyle">
                <img class="ios-toolbar-icon" src="<%=settings.static_image_host%>/ios_link_no_arrow.svg">
                <div class="ios-icon-label">Remove Arrow</div>
            </a>

            <a href="#" class="ios-toolbar-item" data-mm-role="link-solid popover-close" data-mm-menu="main" data-mm-menu-role="modelAction" data-mm-action="updateLinkStyle">
                <img class="ios-toolbar-icon" src="<%=settings.static_image_host%>/ios_link_solid.svg">
                <div class="ios-icon-label">Solid Line</div>
            </a>

            <a href="#" class="ios-toolbar-item" data-mm-role="link-dashed popover-close" data-mm-menu="main" data-mm-menu-role="modelAction" data-mm-action="updateLinkStyle">
                <img class="ios-toolbar-icon" src="<%=settings.static_image_host%>/ios_link_dashed.svg">
                <div class="ios-icon-label">Dashed Line</div>
            </a>

            <a href="#" class="ios-toolbar-item" data-mm-role="link-removal popover-close" data-mm-menu="main" data-mm-menu-role="modelAction" data-mm-action="removeLink">
                <img class="ios-toolbar-icon" src="<%=settings.static_image_host%>/ios_icon_remove.svg">
                <div class="ios-icon-label">Remove</div>
            </a>
        </div>
        <img src="<%=settings.static_image_host%>/ios_toolbar_pointer_bottom.svg" data-mm-role="popover-pointer-bottom" class="iosPopupToolbarPointerBottom" />
    </div>
</div>